body {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

/*


____/\\\__/\\\____/\\\________/\\\__/\\\\\\\\\\\\\\\_____/\\\\\\\\\_____/\\\\\\\\\\\\_____/\\\\\\\\\\\\\\\____/\\\\\\\\\_____        
 ___\/\\\_\/\\\___\/\\\_______\/\\\_\/\\\///////////____/\\\\\\\\\\\\\__\/\\\////////\\\__\/\\\///////////___/\\\///////\\\___       
  __/\\\\\\\\\\\\\_\/\\\_______\/\\\_\/\\\______________/\\\/////////\\\_\/\\\______\//\\\_\/\\\_____________\/\\\_____\/\\\___      
   _\///\\\///\\\/__\/\\\\\\\\\\\\\\\_\/\\\\\\\\\\\_____\/\\\_______\/\\\_\/\\\_______\/\\\_\/\\\\\\\\\\\_____\/\\\\\\\\\\\/____     
    ___\/\\\_\/\\\___\/\\\/////////\\\_\/\\\///////______\/\\\\\\\\\\\\\\\_\/\\\_______\/\\\_\/\\\///////______\/\\\//////\\\____    
     __/\\\\\\\\\\\\\_\/\\\_______\/\\\_\/\\\_____________\/\\\/////////\\\_\/\\\_______\/\\\_\/\\\_____________\/\\\____\//\\\___   
      _\///\\\///\\\/__\/\\\_______\/\\\_\/\\\_____________\/\\\_______\/\\\_\/\\\_______/\\\__\/\\\_____________\/\\\_____\//\\\__  
       ___\/\\\_\/\\\___\/\\\_______\/\\\_\/\\\\\\\\\\\\\\\_\/\\\_______\/\\\_\/\\\\\\\\\\\\/___\/\\\\\\\\\\\\\\\_\/\\\______\//\\\_ 
        ___\///__\///____\///________\///__\///////////////__\///________\///__\////////////_____\///////////////__\///________\///__


*/

.header {
    padding: 0 30px;
    color: white;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
/*	border: 1px solid red;*/
    background-color: gray;
}

.header__btn {
	padding: 0 20px;
    text-decoration: none;
    color: white;
}

.header__btn:first-child {
	border-right: 1px solid white;
}

.header__btn:hover {
    text-decoration: underline;
}

/*


____/\\\__/\\\__________/\\\\\\\\\_______/\\\\\_______/\\\\\_____/\\\__/\\\\\\\\\\\\\\\__/\\\\\\\\\\\\\\\__/\\\\\_____/\\\__/\\\\\\\\\\\\\\\_        
 ___\/\\\_\/\\\_______/\\\////////______/\\\///\\\____\/\\\\\\___\/\\\_\///////\\\/////__\/\\\///////////__\/\\\\\\___\/\\\_\///////\\\/////__       
  __/\\\\\\\\\\\\\___/\\\/_____________/\\\/__\///\\\__\/\\\/\\\__\/\\\_______\/\\\_______\/\\\_____________\/\\\/\\\__\/\\\_______\/\\\_______      
   _\///\\\///\\\/___/\\\______________/\\\______\//\\\_\/\\\//\\\_\/\\\_______\/\\\_______\/\\\\\\\\\\\_____\/\\\//\\\_\/\\\_______\/\\\_______     
    ___\/\\\_\/\\\___\/\\\_____________\/\\\_______\/\\\_\/\\\\//\\\\/\\\_______\/\\\_______\/\\\///////______\/\\\\//\\\\/\\\_______\/\\\_______    
     __/\\\\\\\\\\\\\_\//\\\____________\//\\\______/\\\__\/\\\_\//\\\/\\\_______\/\\\_______\/\\\_____________\/\\\_\//\\\/\\\_______\/\\\_______   
      _\///\\\///\\\/___\///\\\___________\///\\\__/\\\____\/\\\__\//\\\\\\_______\/\\\_______\/\\\_____________\/\\\__\//\\\\\\_______\/\\\_______  
       ___\/\\\_\/\\\______\////\\\\\\\\\____\///\\\\\/_____\/\\\___\//\\\\\_______\/\\\_______\/\\\\\\\\\\\\\\\_\/\\\___\//\\\\\_______\/\\\_______ 
        ___\///__\///__________\/////////_______\/////_______\///_____\/////________\///________\///////////////__\///_____\/////________\///________


*/

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
    background-color: gainsboro;
}

.content__slider {
	height: 400px;
	width: 700px;
/*	border: 1px solid black;*/
    background-color: gray;
    border-radius: 3px;
}

.slider__circles {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.slider__circle {
	margin: 0 15px;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	border: 1px solid gray;
    transition: 0.5s;
}

.slider__circle:hover {
    background-color: gray;
}

.content__demo-test-btn {
/*	border: 1px solid black;*/
	margin: 30px 0;
	padding: 20px 30px;
    background-color: gray;
    color: white;
    text-decoration: none;
}

/*

____/\\\__/\\\____/\\\\\\\\\\\\\\\_______/\\\\\____________/\\\\\_______/\\\\\\\\\\\\\\\__/\\\\\\\\\\\\\\\____/\\\\\\\\\_____        
 ___\/\\\_\/\\\___\/\\\///////////______/\\\///\\\________/\\\///\\\____\///////\\\/////__\/\\\///////////___/\\\///////\\\___       
  __/\\\\\\\\\\\\\_\/\\\_______________/\\\/__\///\\\____/\\\/__\///\\\________\/\\\_______\/\\\_____________\/\\\_____\/\\\___      
   _\///\\\///\\\/__\/\\\\\\\\\\\______/\\\______\//\\\__/\\\______\//\\\_______\/\\\_______\/\\\\\\\\\\\_____\/\\\\\\\\\\\/____     
    ___\/\\\_\/\\\___\/\\\///////______\/\\\_______\/\\\_\/\\\_______\/\\\_______\/\\\_______\/\\\///////______\/\\\//////\\\____    
     __/\\\\\\\\\\\\\_\/\\\_____________\//\\\______/\\\__\//\\\______/\\\________\/\\\_______\/\\\_____________\/\\\____\//\\\___   
      _\///\\\///\\\/__\/\\\______________\///\\\__/\\\_____\///\\\__/\\\__________\/\\\_______\/\\\_____________\/\\\_____\//\\\__  
       ___\/\\\_\/\\\___\/\\\________________\///\\\\\/________\///\\\\\/___________\/\\\_______\/\\\\\\\\\\\\\\\_\/\\\______\//\\\_ 
        ___\///__\///____\///___________________\/////____________\/////_____________\///________\///////////////__\///________\///__

*/

.footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
/*	border: 1px solid blue;*/
	height: 5vh;
    background-color: gray;
}

.footer__item {
	margin: 0 50px;
    color: white;
}

/*

____/\\\__/\\\______/\\\\\\\\\______/\\\\\\\\\\\\\\\_____/\\\\\\\\\\\\____________________/\\\\\\\\\\\\\\\_______/\\\\\_________/\\\\\\\\\______/\\\\____________/\\\\_        
 ___\/\\\_\/\\\____/\\\///////\\\___\/\\\///////////____/\\\//////////____________________\/\\\///////////______/\\\///\\\_____/\\\///////\\\___\/\\\\\\________/\\\\\\_       
  __/\\\\\\\\\\\\\_\/\\\_____\/\\\___\/\\\______________/\\\_______________________________\/\\\_______________/\\\/__\///\\\__\/\\\_____\/\\\___\/\\\//\\\____/\\\//\\\_      
   _\///\\\///\\\/__\/\\\\\\\\\\\/____\/\\\\\\\\\\\_____\/\\\____/\\\\\\\___________________\/\\\\\\\\\\\______/\\\______\//\\\_\/\\\\\\\\\\\/____\/\\\\///\\\/\\\/_\/\\\_     
    ___\/\\\_\/\\\___\/\\\//////\\\____\/\\\///////______\/\\\___\/////\\\___________________\/\\\///////______\/\\\_______\/\\\_\/\\\//////\\\____\/\\\__\///\\\/___\/\\\_    
     __/\\\\\\\\\\\\\_\/\\\____\//\\\___\/\\\_____________\/\\\_______\/\\\___________________\/\\\_____________\//\\\______/\\\__\/\\\____\//\\\___\/\\\____\///_____\/\\\_   
      _\///\\\///\\\/__\/\\\_____\//\\\__\/\\\_____________\/\\\_______\/\\\___________________\/\\\______________\///\\\__/\\\____\/\\\_____\//\\\__\/\\\_____________\/\\\_  
       ___\/\\\_\/\\\___\/\\\______\//\\\_\/\\\\\\\\\\\\\\\_\//\\\\\\\\\\\\/___/\\\\\\\\\\\\\\\_\/\\\________________\///\\\\\/_____\/\\\______\//\\\_\/\\\_____________\/\\\_ 
        ___\///__\///____\///________\///__\///////////////___\////////////____\///////////////__\///___________________\/////_______\///________\///__\///______________\///__

*/

.background {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
}

.registration-form { 
    color: gray;
	background-color: white;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    border-radius: 3px;
    padding: 0 20px;
}

.form__heading {
	text-transform: uppercase;
	width: 100%;
	background-color: gray;
    color: white;
	margin: 0;
    padding: 10px 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
}

.form__accept-btn {
	border: none;
	background-color: gray;
	margin: 20px 0;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
}

.form__close-btn {
    position: relative;
    left: 307px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}