body {
	padding 0;
	margin: 0;
	overflow: hidden;
	color: gray;
	font-size: 20px;
}

.header {
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	background-color: white;
	box-shadow: 0 5px 10px gray;
}

.wrapper {
	overflow: hidden;
	transition: 1s;
}

.content {
	min-height: 82vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
}

.select-form {
	height: 250px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 5px 10px gray;
}

.form__heading {
	margin: 10px 0 40px 0;
}

.form__select {
	width: 40%;
	margin: 10px 0 40px 0;
}

.footer {
/*	align-self: flex-end;*/
	height: 36px;
	width: 100%;
	background-color: gray;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
}

.footer__item {
	margin: 0 20px 0 20px;
	color: white;
	text-decoration: none;
}

.footer__item:hover {
	text-decoration: underline;
}

.test {
/*	min-height: 83vh;*/
	overflow: hidden;
}

.test__question {
	width: 100%;
	height: 100vh;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question__heading {
	margin: 120px 0 50px 0;
}


.navbar {
	position: fixed;
	z-index: 10;
	right: 10px;
}

.navbar__link {
	color: white;
	text-align: center;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	cursor: pointer;
	background-color: gray;
	margin: 10px;
	transition: 0.5s;
}

.navbar__link:hover {
	transform: scale(1.2);
}

